.home {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  background: url(../images/home-background-main.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .homeText {
    color: white;
    font-family: 'Amiri', serif;
    min-height: 10rem;
    max-width: 50rem;
    margin: 1rem 1rem 0 1rem;
    text-align: center;

    .welcomeText {
      margin: 1rem 0 2rem 0;
      font-size: 22px;
    }
  }

  .homeBtn {
    max-width: 50rem;
    opacity: 1;
    outline: 0;
    color: rgb(213, 222, 226);
    position: relative;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 0.8rem bold;

    &:hover {
      &:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }

      &:before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
      }
    }

    &:after {
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      color: #bfbfcf;
      transition: 0.5s;
      position: absolute;
      background: #15171a;
      content: attr(data-back);
      transform: translateY(-50%) rotateX(90deg);
      border: 5px inset #363f46;
      height: 3rem;
      line-height: 3rem;
    }

    &:before {
      top: 0;
      left: 0;
      opacity: 1;
      color: #a6bebe;
      display: block;
      padding: 0 30px;
      transition: 0.5s;
      position: relative;
      background: #383432;
      content: attr(data-front);
      transform: translateY(0) rotateX(0);
      border: 5px inset #9b9894;
      height: 3rem;
      width: 9rem;
      line-height: 1.5rem;
    }
  }
}
